.header-container{
    width: 100%;
    background-color: #efefef;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.header-container .header-logo{
    width: 240px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;
}
.header-container .header-setting{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;

}
